:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-1:red;
  --clr-2:magenta;
  --clr-3:blue;
  --clr-4:rgb(216, 143, 6);
  /* --clr-5:crimson; */

  
}

* { /* Targeting the whole page
     to have it reach the ends*/
    margin: 0;
    padding: 0;
}

a {
  font-weight: 500;
  color: crimson;
  text-decoration: none;
}
a:hover {
  color: magenta;
}

nav ul{
  list-style: none;
  list-style-type: none;
  /* padding: 1rem; */
  margin: 0;
}

ul{
  display: flex;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
}
nav a{
  color: black;
}

nav{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: space-around; */
  /* padding: 1rem; */
    /* background-color: crimson; */
    /* position:fixed; */
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

/* Link{
  display: "flex", 
    flexDirection: "column", 
    alignItems: "center", 
    textDecoration: "none"
} */

Icon{
  scale: 1.5px;
}

.Landing-Display{
  background-image: url(./assets/Necklace.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment:fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
  /* object-position: -1; */
  justify-content: center;
  align-content: center;
  text-justify: newspaper;
}

.Highlights{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,170px);
  gap: 6rem;
  align-content: center;
  height: 40rem;
}

.content-container, .secret{
  justify-self: center;
  width: 30vw;
  background-color: black;
  gap: 2rem;
  border-radius: 12px;
  padding: 1rem;
  outline: 1rem SOLID transparent;
  position: relative;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation{
  0% {--gradient-angle: 0deg}
  100% {--gradient-angle: 360deg}
}

.content-container::before, .content-container::after,.secret::before,.secret::after{
  content: "";
  position: absolute;
  inset: -0.3rem;
  z-index: -1;
  border-radius: inherit;
  padding: 1rem;
  background-image: conic-gradient(from var(--gradient-angle),var(--clr-1),var(--clr-2),var(--clr-3),var(--clr-4),var(--clr-1));
  animation: rotation 5s linear infinite;
}

/* .content-container::after{
  filter: blur(0.5rem);
} */

.slideshow, .tab-section, .main-project, .current-project{
  height: 100vh;
  border-bottom: 0.1px SOLID white;
}

.tab:hover{
  cursor: pointer;
}

.tab-section{
  /* height: 20rem; */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* position:relative; */
}

/* .main-project, .current-prpoject{
  height: 25rem;
} */

.card-container{
  justify-self: center;
  width: 30vw;
  /* background-color: rgb(49, 208, 236); */
  gap: 2rem;
  border-radius: 12px;
  padding: 1rem;
  outline: 1px SOLID whitesmoke;
  position: relative;
}



/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home-footer{
  /* color: ; */
  background-color: darkslategrey;
}

.form-parent{
  background-color: white;
  color: black;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form, .login-form {
    padding: 3rem;
    border-radius: 2rem;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5em;
    box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.signup-form{
  height:13rem;
}

input {
    width: 15rem;
    height: 2rem;
    border-radius: 0.3rem;
    background-color: white;
    color: dimgray;
}

input:focus{
    outline-color: crimson;
    
}

.btn{
    width: 15.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.sandlana-secret{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

