:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-1:red;
  --clr-2:magenta;
  --clr-3:blue;
  --clr-4:rgb(216, 143, 6);
  /* --clr-5:crimson; */

  
}

* { /* Targeting the whole page
     to have it reach the ends*/
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


a {
  font-weight: 500;
  color: crimson;
  text-decoration: none;
}
a:hover {
  color: magenta;
}

ul {
  list-style: none;
  list-style-type: none;
  /* padding: 1rem; */
  margin: 0;
}

nav ul{
  display: flex;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
}
nav a{
  color: black;
  font-size: 1.3rem;
}

nav a:hover {
  cursor: pointer;
}

nav{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: space-around; */
  /* padding: 1rem; */
    /* background-color: crimson; */
    /* position:fixed; */
    justify-content:center;
    align-items: center;
    height: 12vh;
}

nav img{
  height:14vh;
  justify-content:initial;
  align-items:self-start;
  /* ali */
}
/* Link{
  display: "flex", 
    flexDirection: "column", 
    alignItems: "center", 
    textDecoration: "none"
} */


.Hero-Section img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  /* object-position: -1; */
  /* z-index: -1; */
}

video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.katieum-header span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.current-project img{
  background-size: cover;
  background-repeat: repeat;
  background-attachment:fixed;
  height: 100vh;
  width: 100%;
  /* object-position: -1; */
  /* z-index: -1; */
  opacity: 0.4;
}

.slideshow{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.content-box{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* background-color: lightgrey; */
  opacity: 0.9;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
}

.Landing-Display{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* text-justify: newspaper; */
}

.Landing-Display p, .Landing-Display h4, .Landing-Display blockquote {
  font-size: 1.2rem;
  /* font-weight: 100; */
}

.Landing-Display blockquote{
  font-style: italic;
  margin-top: 1rem;
  color:beige;
}

.content{
  display:none;
}

.show-content{
  display: block;
}


.Highlights{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,170px);
  gap: 6rem;
  align-content: center;
  height: 40rem;
}

.content-container{
  justify-self: center;
  width: 30vw;
  background-color: black;
  gap: 2rem;
  border-radius: 12px;
  padding: 1rem;
  outline: 1rem SOLID transparent;
  position: relative;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation{
  0% {--gradient-angle: 0deg}
  100% {--gradient-angle: 360deg}
}

.content-container::before, .content-container::after{
  content: "";
  position: absolute;
  inset: -0.3rem;
  z-index: -1;
  border-radius: inherit;
  padding: 1rem;
  background-image: conic-gradient(from var(--gradient-angle),var(--clr-1),var(--clr-2),var(--clr-3),var(--clr-4),var(--clr-1));
  animation: rotation 5s linear infinite;
}

/* .content-container::after{
  filter: blur(0.5rem);
} */

.slideshow, .tab-section, .main-project, .current-project{
  height: 100vh;
  border-bottom: 0.1px SOLID white;
}

.tab-list{
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  /* background-color: darkslategrey; */
  padding: 1rem;
  /* position:relative; */
  /* top:2rem; */
}
.tab-list:hover{
  cursor: pointer;
}

.content-box{
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin-top: 50%;
  height: 20rem;
  width: 50vw;
  /* background-color:grey ; */
  /* opacity: 0.8; */
  border-radius: 12px;
  padding: 1rem;
  outline: 1px SOLID whitesmoke;
  /* position: absolute; */
}

/* .tab-section{
  height: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position:absolute;
} */

/* .tab-panel {
  display: list-item;
  justify-items: center;

} */

.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

/* .main-project, .current-prpoject{
  height: 25rem;
} */

.card-container{
  justify-self: center;
  width: 30vw;
  /* background-color: rgb(49, 208, 236); */
  gap: 2rem;
  border-radius: 12px;
  padding: 1rem;
  outline: 1px SOLID whitesmoke;
  position: relative;
}



/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home-footer{
  /* color: ; */
  background-color: darkslategrey;
  height: 5rem;
}

.home-footer {
  display:flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  font-size: 1.5rem;
}

.about-section, .tab-section {
  /* display:inline;
  justify-content: center;
  align-items: center; */
  height: 35rem;
  font-size: 1.2rem;
}
/* .about-section{
  
} */

/* .katieum{
  height: 5vh;
} */

.product-btn{
  background-color:rgb(0,0,0,0.8);
  color:white;
  border-radius: .5rem;
  padding: 1rem;
}

.product-btn:hover{
  color: crimson;
}

.btn{
    width: 15.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}

.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  padding: 2rem;
    border-radius: 1rem;
    width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5em;
    outline: 1px SOLID grey;
    
}

/* MEDIA QUERIES */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


