@media (max-width: 480px) {
  .about-section{
    height: 76.5vh;
  }
  
  nav img {
    height: fit-content;
  }

  .Hero-Section img {
    object-position: 50%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about-section{
    height: 76.5vh;
  }
  
  nav img {
    display: none;
  }

  .Hero-Section img {
    object-position: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-section{
    height: 76.5vh;
  }
  
  nav img {
    height: fit-content;
  }
}

/** 
320px - 480px : Mobile Portrait
481px - 767px : Mobile Landscape
768px - 1024px : Tablet Portrait
1025px - 1200px : Tablet Landscape
1201px - 1600px : Desktop
1601px and more : Large Screens

EXACT WIDTH:
@media (width: 960px)

@960px & SMALLER:
@media (max-width: 960px)

960px & LARGER:
@media (min-width: 960px)

BONUS:
@media (min-width: 300px) and @media (max-width: 960px)

*/